<!DOCTYPE html>
<html lang="ja">
<head>
    <title>崩し字解析</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1><a href="/" class="logo">崩し字解析</a></h1>
            <p>崩し字を解析するWebアプリケーションを作りました。</p>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <section class="select-image">
                <form method="post" action="/" enctype="multipart/form-data">
                    <label>画像を選択する
                    <input type="file" name="img_file" id="file_upload" /></label>
                    <div class="img_prev"></div>
                    <input type="submit" value="解析" class="btn">
                </form>
            </section>
            <section class="source">
                <p>『日本古典籍くずし字データセット』（国文研ほか所蔵／CODH加工） doi:10.20676/00000340</p>
                <p>提供：<a href="http://codh.rois.ac.jp/" target="new">人文学オープンデータ共同利用センター</a></p>
            </section>
            <section class="how-to-use">
                <h3 class="sub-title">ご使用方法</h3>
                <p>下記の様に画像を一枚選択して「解析」を押して下さい。<br />もしエラーメッセージが表示された場合はページを更新して下さい。</p>
                <p><img src="/static/images/sample.jpg"></p>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p class="copyright"><small>Copyright&copy; 2018 崩し字解析 All Rights Reserved.</small></p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/showImage.js"></script>
</body>
</html>