<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>崩し字解読</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="page" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="container">
            <div class="row">

            <div id="pageHead">
                <h1>崩し字解読</h1>
                <p>崩し字を解析するWebアプリケーションを作りました。</p>
            </div>

            <div id="form-group">
                <div class="form-area">
                    <form method="post" action="/" enctype="multipart/form-data">
                        <label>画像を選択
                        <input type="file" name="img_file" id="file_upload" style="display: none;"></label>

                        <div class="img_prev"></div>

                        <input type="submit" value="解析" class="btn">
                    </form>
                </div>
            </div>

            <div id="source">
                <p>『日本古典籍くずし字データセット』（国文研ほか所蔵／CODH加工） doi:10.20676/00000340</p>
                <p>提供：<a href="http://codh.rois.ac.jp/" target="new">人文学オープンデータ共同利用センター</a></p>
            </div>

            <div id="how_to_use">
                <h3 class="sub-title">ご使用方法</h3>
                <p>下記の様に画像を一枚選択して「解析」を押して下さい。<br />もしエラーメッセージが表示された場合はページを更新して下さい。</p>
                <p><img src="../static/images/sample.jpg"></p>
            </div>

            </div>

        </div>

    </div>

    <footer id="pageFoot" class="container">
        <div class="row">
            <p id="copyright"><small>Copyright&copy; 2018 崩し字解読 All Rights Reserved.</small></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript"  src="/static/js/show_image.js"></script>
</body>
</html>
